language: generic

sudo: required

services:
  - docker

before_install:
  - cd docker-fullstack-app
  - docker build -t dmogki/react-test-app -f ./frontend/Dockerfile.dev ./frontend

script:
- docker run -e CI=ture dmogki/react-test-app npm run test

after_success:
 - docker build -t dmogki/docker-frontend ./frontend
 - docker build -t dmogki/docker-backend ./backend
 - docker build -t dmogki/docker-nginx ./nginx

 - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin

 - docker push -f dmogki/docker-frontend 
 - docker push -f dmogki/docker-backend 
 - docker push -f dmogki/docker-nginx 

  - echo "Push Image OK" 

deploy:
  provider: elasticbeanstalk
  region: "ap-northeast-2"
  app: "tdocker"
  env: "tdocker-env"
  bucket_name: "elasticbeanstalk-ap-northeast-2-105847046109"
  bucket_path: "tdocker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_ACCESS_KEY
