language: generic

sudo: required

services:
  - docker

before_install:
  - cd docker-fullstack-app
  - docker build -t dmogki/react-test-app -f ./frontend/Dockerfile.dev ./frontend

script:
- docker run -e CI=ture dmogki/react-test-app npm run test

after_success:
 - docker build -t dmogki/docker-frontend ./frontend
 - docker build -t dmogki/docker-backend ./backend
 - docker build -t dmogki/docker-nginx ./nginx

 - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_ID" --password-stdin

 - docker push dmogki/docker-frontend 
 - docker push dmogki/docker-backend 
 - docker push dmogki/docker-nginx 