version: "3"
services: 
  react:
    user: "1001"
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports: 
     - "3000:3000"
    volumes: 
     - /usr/src/app/node_modules
     - ./:/usr/src/app
    stdin_open: true
